{{#> app/page}}

{{#*inline "body-block"}}

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand">
      Detalhes do pre-trade (protótipo)
    </span>
  </div>
</nav>

<div class="container-fluid">
  <div class="my-3">
    <a href="/">
      <i class="fas fa-fw fa-angle-left"></i> Voltar
    </a>
  </div>

  <div class="my-3">
    {{{ include 'app/pre-trade-info/_details.hbs' }}}
  </div>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a href="#operation" class="nav-link active" data-bs-toggle="pill" data-bs-target="#operation">
        Operação
      </a>
    </li>
    <li class="nav-item">
      <a href="#documents" class="nav-link" data-bs-toggle="pill" data-bs-target="#documents">
        Documentos
      </a>
    </li>
    <li class="nav-item">
      <a href="#pendencies" class="nav-link" data-bs-toggle="pill" data-bs-target="#pendencies">
        Pendências
      </a>
    </li>
    <li class="nav-item">
      <a href="#approval" class="nav-link" data-bs-toggle="pill" data-bs-target="#approval">
        Aprovação
      </a>
    </li>
    <li class="nav-item">
      <a href="#confirmation" class="nav-link" data-bs-toggle="pill" data-bs-target="#confirmation">
        Contratos
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="operation" class="tab-pane show active">
      <div class="row">
        <div class="col-8">
          {{{ include 'app/pre-trade-info/_operation.hbs' }}}
        </div>
        <div class="col-4">
          {{{ include 'app/pre-trade-info/_comments.hbs' }}}
        </div>
      </div>
    </div>
    <div id="approval" class="tab-pane">
      {{{ include 'app/pre-trade-info/_approval.hbs' }}}
    </div>
    <div id="documents" class="tab-pane">
      {{{ include 'app/pre-trade-info/_documents.hbs' }}}
    </div>
    <div id="pendencies" class="tab-pane">
      {{{ include 'app/pre-trade-info/_pendencies.hbs' }}}
    </div>
    <div id="confirmation" class="tab-pane">
      {{{ include 'app/pre-trade-info/_contracts.hbs' }}}
    </div>
  </div>
</div>

{{/inline}}

{{/app/page}}
